In [ ]:
# Which 10 companies make the most money? 
# Use two columns: Company name and the sum of the fare. 
# Order by descending order.Make sure that the sum of the fares (total_fare) is not in scientific notation

SELECT company_name, SUM(total_fare) AS total_fare
FROM "chicago_taxi_db"."taxi_trips"
GROUP BY company_name
ORDER BY total_fare DESC
LIMIT 10;

In [ ]:
# Show the 10 pickup community areas with the most rides. 
# Use two columns: community area name and count of rides per area, in descending order for the rides

SELECT community_name, COUNT(*) AS rides
FROM "chicago_taxi_db"."taxi_trips" tt JOIN "chicago_taxi_db"."community_areas" ca ON tt.pickup_community_area_id = ca.area_code
GROUP BY pickup_community_area_id
ORDER BY rides DESC
LIMIT 10;

In [ ]:
# Get the count of taxi rides per day of week. In other words, we'd like to see which day has the most rides. 
# Use the names of the days instead of numbers (Monday = 1, Tuesday = 2, etc.)